* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #54694E;
    color: white;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}
header {
    text-align: center;
    padding: 12px;
    background: #140603;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-top: 40px;
}
video {
    width:400px;
    height: 300px;
    background: #222;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
}

#remoteVideo, #localVideo {
    width: 400px;
    height: 400px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    border: 2px solid white;
    object-fit: cover;
    background: black;
}
.controls {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    gap: 20px;
    
}


button {
    padding: 16px 32px;
    font-size: 1.2em;
    border-radius: 8px;
    border:none;
    background: #8A276F;
    color:white;
    cursor: pointer;
    transition: background 0.2s;
}
button:hover {
    background: #0056b3;
}

button-active {
    background: #A690A0;
}

#age-overlay {
    background:
     linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
     url('./static/wallpaper.png') center center/cover no-repeat;
    color: #fff;
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
