* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #54694E;
    color: white;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    text-align: center;
    padding: 12px;
    background: #140603;
}
.video-container {
    flex: 1;
    position: relative;
    background: black;
}
#remoteVideo {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
#localVideo {
    position: absolute;
    width: 120px;
    height: 160px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    border: 2px solid white;
    object-fit: cover;
    background: black;
}
.controls {
    display: flex;
    gap: 10px;
    padding: 12px;
    background: #C45841;
}
button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    background: #8A276F;
    color:white;
    border-radius: 8px;
}
button-active {
    background: #A690A0;
}
